{
  "tabWidth": 2,
  "printWidth": 120,
  "tailwindFunctions": ["cn"],
  "tailwindStylesheet": "./src/app/globals.css",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
